.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  @keyframes buzz {
      from, to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
      }
  
      5%, 25%, 45%, 65%, 85% {
          -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
      }
  
      15%, 35%, 55%, 75%, 95% {
          -webkit-transform: translate3d(0, 3px, 0);
          transform: translate3d(0, 3px, 0);
      }
  }
  
  .buzz {
      -webkit-animation-name: buzz;
      animation-name: buzz;
  }
  