@font-face {
    font-family: 'bariol-bold-italic';
    src: url('../fonts/bariol/bariol_bold_italic-webfont.eot');
    src: url('../fonts/bariol/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_bold_italic-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_bold_italic-webfont.svg#bariolbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-bold';
    src: url('../fonts/bariol/bariol_bold-webfont.eot');
    src: url('../fonts/bariol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_bold-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_bold-webfont.svg#bariolbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-light-italic';
    src: url('../fonts/bariol/bariol_light_italic-webfont.eot');
    src: url('../fonts/bariol/bariol_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_light_italic-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_light_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-light';
    src: url('../fonts/bariol/bariol_light-webfont.eot');
    src: url('../fonts/bariol/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_light-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_light-webfont.svg#bariollight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariolitalic';
    src: url('../fonts/bariol/bariol_regular_italic-webfont.eot');
    src: url('../fonts/bariol/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_regular_italic-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_regular_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-regular';
    src: url('../fonts/bariol/bariol_regular-webfont.eot');
    src: url('../fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_regular-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-thin-italic';
    src: url('../fonts/bariol/bariol_thin_italic-webfont.eot');
    src: url('../fonts/bariol/bariol_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_thin_italic-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_thin_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-thin';
    src: url('../fonts/bariol/bariol_thin-webfont.eot');
    src: url('../fonts/bariol/bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol/bariol_thin-webfont.woff2') format('woff2'),
         url('../fonts/bariol/bariol_thin-webfont.woff') format('woff'),
         url('../fonts/bariol/bariol_thin-webfont.ttf') format('truetype'),
         url('../fonts/bariol/bariol_thin-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
