body,
button,
input,
select,
textarea,
p
{
	color: $clouds;
}

h1, h2, h3, h4, h5,
.highlight,
.handwriting,
.number
{
	color:$charcoal;
}

a 
{
	transition: all .3s;
	color:$charcoal;
	color: $turquoise;
  text-decoration: none;
  // border-bottom: 1px dotted;
  // padding-bottom: 2px;

	&:hover,
	&:focus
	{
		transition: all .3s;
		color: $almost-black;
		// border-bottom: 1px solid;
	}
}