.gridlover-grid {
	background-image: linear-gradient(to bottom, $almost-white 1px, transparent 1px);
}

body,
button,
input,
select,
textarea,
p
{
	color: $clouds;
}

h1, h2, h3, h4, h5,
.highlight,
.handwriting,
.number
{
	color:$charcoal;
}

a
{
	transition: color .3s;
	// color: $turquoise;
	color: $orange;
  text-decoration: none;

	&:hover,
	&:focus
	{
		transition: color .3s;
		color:$charcoal;
	}
}

p a
{
	color: $charcoal;
  background-color: $orange;
  border: solid 1px $charcoal;
	border-bottom-color: $charcoal;
	box-shadow: inset 0 -1px 0 $charcoal;

	&:hover,
	&:focus
	{
		transition: color background-color .3s;
		color: $orange;
		background-color: $charcoal;
	}
}

kbd, code, span
{
  // color: rgb(85, 85, 85);
  // background-color: rgb(252, 252, 252);
  // border: solid 1px rgb(204, 204, 204);
	// border-bottom-color: rgb(187, 187, 187);
	// box-shadow: inset 0 -1px 0 rgb(187, 187, 187);

	border: solid 1px $orange;
	border-bottom-color: $orange;
	box-shadow: inset 0 -1px 0 $orange;
}

.orange
{
	background-color: $orange;
}
