// from http://www.gridlover.net/try, 24px base with golden ratio 1.618

.gridlover-grid {
	// background-image: linear-gradient(to bottom, red 1px, transparent 1px);
	background-size: $row $row;
}

body {
	font-style: normal;
	// font-size: 1.36rem;
	font-size: 1rem;
	line-height: $row;
	margin: 0 auto;
}

h1 {
	font-size: 6.375rem;
	line-height: $row*3;
}

h2 {
	font-size: 3.9375rem;
	line-height: $row*2;
}

h3 {
	font-size: 2.4375rem;
	line-height: $row*2;
}

h4 {
	font-size: 1.5rem;
	line-height: $row;
}

h1, h2, h3, h4
{
	margin-top: $row;
	margin-bottom: 0rem;
	margin-bottom: $row;
}

p {
	font-size: 1.375rem;
}

/*h5 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	margin-top: 2.25rem;
	margin-bottom: 0rem;
}*/

p, ul, ol, pre, table, blockquote, figure {
	margin-top: 0rem;
	margin-bottom: $row;
}

blockquote {
	padding-left: $row/2;
  margin: 0;
  border-left: 6px solid;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

ul ul, ol ol, ul ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1.5rem;
  list-style-type: disc;
}

b, strong, em, small, code {
	line-height: 1;
	// font-weight: 700;
}
