.container
{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 $row/2;

	p, figure
	{
		// margin-bottom: $row;
	}
}

@media (max-width: 799px)
{
	html
	{
		font-size: 13.3333333333333px; // p → 20px
	}
}

@media (max-width: 599px)
{
	h1, h2
	{
		// margin-top: $row/2;
		// margin-bottom: $row/2;
	}

	h1 {
		// font-size: 3.9375rem;
		font-size: 55px;
		line-height: $row * 2;

		&:after
		{
			width: $row * 3;
			height: $row * 3;
			top: -$row * 4;
		}
	}

	h2 {
		// font-size: 2.4375rem;
		font-size: 40px;
		line-height: $row * 2;
	}

	h3 {
		// font-size: 30px;

		// similar to h4
		// font-size: 1.5rem;
		// line-height: $row/2;
		// margin: $row/2 0;

		// just like h4
		font-size: 1.5rem;
		line-height: $row;
	}

	.media-frame.fixed
	{
		background-attachment: scroll;
		background-size: cover !important;
	}
}

@media (max-width: 399px)
{
	.hidden-xs
	{
		display: none;
	}
}
