body
{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 $row/2;

	p
	{
		margin-bottom: $row;
	}
}

@media (max-width: 799px)
{
	html
	{
		font-size: 13.3333333333333px; // p → 20px
	}
}

@media (max-width: 599px)
{
	.media-frame
	{
		height: $row*12;
	}

	h1 {
		// font-size: 3.9375rem;
		font-size: 55px;
		line-height: $row * 2;

		&:after
		{
		  width: $row * 3;
		  height: $row * 3;
		  top: -$row * 4;
		}
	}

	h2 {
		// font-size: 2.4375rem;
		font-size: 40px;
		line-height: $row * 2;
	}

	h3 {
		font-size: 30px;
	}
}
