#beesness
{
  background-image: url('../assets/stalk-exchange-pb.jpg');
  background-position: top center;
  height: $row*15;
}

#nonna-giacomino
{
  background-image: url('../assets/nonna-giacomino.png');
  // background-position: center left;
  height: $row*18;
}

#nonna-memory
{
  background-image: url('../assets/nonna-memory.png');
  // background-position: center left;
  height: $row*13;
}

#fm-design-notes
{
  background-image: url('../assets/fm-design-notes.jpg');
  // background-position: center left;
  height: $row*13;
}

#fm-prototype
{
  background-image: url('../assets/fm-prototype.png');
  // background-position: center left;
  height: $row*13;
}

#fm-playtest-hands
{
  background-image: url('../assets/fm-playtest-hands.jpg');
  // background-position: center left;
  height: $row*13;
}

#fm-playtest-people
{
  background-image: url('../assets/fm-playtest-people.jpg');
  // background-position: center left;
  height: $row*13;
}

#fm-paintings
{
  background-image: url('../assets/fm-paintings.jpg');
  // background-position: center left;
  height: $row*13;
}

#fm-painting-timelapse
{
  background-image: url('../assets/fm-prototype.png');
  // background-position: center left;
  height: $row*13;
}

#fm-handwriting-timelapse
{
  background-image: url('../assets/fm-prototype.png');
  // background-position: center left;
  height: $row*13;
}

#fm-beta-cards
{
  background-image: url('../assets/fm-beta-cards.jpg');
  // background-position: center left;
  height: $row*13;
}

.media-frame
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.fixed
  {
    background-attachment: fixed;
    background-size: contain;
  }
}


.blend
{
  position: relative;
  // filter: brightness(1.05) contrast(1.1);
  // filter: brightness(.83) contrast(1.53);

  /*img
  {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }*/

  &:after
  {
    content: " ";
    // mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 3;
    // opacity: 0.66666;
  }

  &.orange:after
	{
		background: $orange;
		mix-blend-mode: hard-light;
	}

	&.blue:after
	{
		background: $clouds;
		mix-blend-mode: color;
	}
}
