body
{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1rem;

	p 
	{
		margin-bottom: 2.25rem;
	}
}

@media (max-width: 959px) 
{
	html 
	{
		font-size: 13.3333333333333px; // p → 20px
	}

	/* h1
	{
		&:after 
		{
		  width: $row * 3;
		  height: $row * 3;
		  top: -$row * 4;
		}

		&:hover
		{
			&:after
			{
				top: -$row * 1;
			}
		}
	} */
}	

/* @media (max-width: 719px) 
{
	html {
		font-size: 12px; // p → 18px
	}	
} */

@media (max-width: 599px) 
{

	/* html {
		font-size: 16px; // p → 24px
	} */
	
	h1 {
		// font-size: 3.9375rem;
		font-size: 55px;
		line-height: $row * 2;

		&:after 
		{
		  width: $row * 3;
		  height: $row * 3;
		  top: -$row * 4;
		}

		&:hover
		{
			&:after
			{
				top: -$row * 1;
			}
		}

	}

	h2 {
		// font-size: 2.4375rem;
		font-size: 40px;
		line-height: $row * 2;
	}

	h3 {
		font-size: 30px;
	}
}