.sticky // that's the section
{
  .background
  {
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px; /* Seems to fix single pixel line on mobile */
    z-index: -1;
    min-height: 101vh;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
  }

  p, h1, h2, h3, h4
  {
    color: $white;
  }

  /* This seems to be needed otherwise margins overlap the bottom */
  .clear
  {
    height: 1px;
  }
}
