@import 'gridlover';

/* FONTS */

$body-font: 'IBM Plex Sans', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, serif;

$headings-font: 'Fredoka One', 'Roboto', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$monospace-font: 'IBM Plex Mono', 'Source Code Pro', monospace;

body
{
	font-family: $body-font;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
{
	font-family: $headings-font;
	// font-family: "IBM Plex Mono";
	// font-family: "Fredoka One";
	// font-weight: 900;
	font-weight: 400;
	font-style: inherit;

	a, b
	{
		font-weight: 400;
	}
}

a, b
{
	font-weight: 700;
}

i, em
// ,blockquote
{
	font-style: italic;
}

/* section
{
	margin-bottom: $row * 3;
	clear: both;
	display: block;
} */

.centred
{
	text-align: center;
}

kbd, code, p a, span
{
  font-family: $monospace-font;
  // font-size: 83%;
  font-weight: 500;
	// line-height: 1;
	// font-size: 1em;
  // display: inline-block;
  // border-radius: .3rem;
	// padding: .2rem .5rem .4rem;
	// padding: 0rem .5rem .3rem;
  // top: 0.1rem;
	padding: 0.15rem .5rem .2rem;
  top: 0rem;
  position: relative;
}

.small
{
	p
	{
		font-size: 69%;
		margin-bottom: 0;
	}
}
