@import 'variables';
@import 'bariol';
@import 'sticky';
@import 'form';

// TYPOGRAPHY

body, p a, span
{
	font-family: 'bariol-regular', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, serif;
}

body
{
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'bariol-light-italic', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
	line-height: 1.225em;
}

h3
{
  // top: -4px;
}

em, i
{
	font-family: 'bariol-regular-italic', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

b, strong
{
	font-family: 'bariol-bold', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p a,
kbd, code, span
{
	// padding: 0.1rem .5rem .25rem;
	padding: 0rem .3rem .2rem;
}


// COLOURS

a
{
  color: $pink-dark;
}

p a
{
  color: $charcoal;
  background-color: $pink-dark;

	&:hover,
	&:focus
	{
		color: $pink-dark;
    background-color: $charcoal;
	}
}

kbd, code, span
{
  border: solid 1px $pink-dark;
	border-bottom-color: $pink-dark;
	box-shadow: inset 0 -1px 0 $pink-dark;
}

blockquote
{
	border-color: $pink-dark;
}

.form
{
	input:focus,
	input:active
	{
		box-shadow: inset 0 0 0px 1px $pink-dark;
	}

	input[type='submit']
	{
		color: $charcoal;
		background: $pink-dark;

		&:hover,
		&:focus
		{
			background: $charcoal;
			color: $pink-dark;
		}
	}
}

// IMAGES

.image-frame
{
  height: $row*13;
}

#nonna-giacomino
{
  background-image: url('../assets/fadingmemories/nonna-giacomino.png');
  height: $row*18;
}

#nonna-memory
{
  background-image: url('../assets/fadingmemories/nonna-memory.png');
}

#design-notes
{
  background-image: url('../assets/fadingmemories/design-notes.jpg');
}

#prototype
{
  background-image: url('../assets/fadingmemories/prototype.png');
}

#playtest-hands
{
  background-image: url('../assets/fadingmemories/playtest-hands.jpg');
}

#playtest-people
{
  background-image: url('../assets/fadingmemories/playtest-people.jpg');
}

#paintings
{
  background-image: url('../assets/fadingmemories/paintings.jpg');
}

#painting-timelapse
{
  background-image: url('../assets/fadingmemories/prototype.png');
}

#handwriting-timelapse
{
  background-image: url('../assets/fadingmemories/prototype.png');
}

#cards-boxed
{
  background-image: url('../assets/fadingmemories/cards-boxed.jpg');
}

#beta-cards
{
  background-image: url('../assets/fadingmemories/beta-cards.jpg');
}

#tazzina
{
	background-image: url('../assets/fadingmemories/espresso-cutout.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: $row*2;
	margin: $row 0;
}

#orange-blue-horizontal
{
	background-image: url('../assets/fadingmemories/backgrounds/orange-blue-horizontal.png');
}

// MEDIA QUERIES

@media (max-width: 599px)
{
	h1
	{
		padding: 0 $row/2;
	}

  h3
  {
		font-size: 30px;

    // top: 0;
		// font-family: 'bariol-bold-italic', -apple-system-font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  #nonna-giacomino
  {
    height: $row*23;
  }
}

@media (max-width: 399px)
{
	html
	{
		font-size: 12px; // p → 16.5px
	}

	h1
	{
		font-size: 47px;
	}

	h2
	{
		font-size: 35px;
	}

	h3
	{
		font-size: 23px;
	}

	.hidden-xs
	{
		display: none;
	}
}
