@import 'variables';
@import 'normalize';
@import 'typography';
@import 'colours';
@import 'elements';
@import 'surprise';
@import 'media';
@import 'media-queries';

body {
  background: $pink-orange;
}

/*#beesness
{
  background-image: url('../assets/home/stalk-exchange-pb.jpg');
}

#fadingmemories
{
  background-image: url('../assets/home/fading-memories-live.jpg');
}

#beesness, #fadingmemories
{
  background-position: top center;
  height: $row*15;
}

@media (max-width: 599px)
{
  #beesness, #fadingmemories
	{
		height: $row*12;
	}
}*/
