@import 'variables';

#ideas
{
  margin: $row*2 0;
  padding-left: 0;
  list-style-type: none;

  li.idea
  {
    // padding-bottom: $row;
    margin-bottom: $row;
    border-bottom: 1px solid $orange;
    box-sizing: border-box;
    // border-bottom-width: 2px;

    &:last-child
    {
      border-bottom: none;
      margin-bottom: $row*2;
    }

    h3
    {
      margin-left: -($row/5);
    }

    .date
    {
      opacity: 0.22;
      // margin-bottom: $row;
      margin: $row/2 0;
    }

    .images
    {
      // margin: $row/2 0;
      margin-bottom: $row/2;

      img
      {
        // border: 1px solid $orange;
        // border-bottom-width: 2px;
        // box-sizing: border-box;
      }
    }
  }

  @media (max-width: 599px)
  {
    h3
    {
      line-height: $row;
      margin: 0;
    }
  }
}
